header {
    color: #333;
    margin-left: 15rem;
    font-size: 18px;
    font-weight: normal;
}

#clearButton {
    margin-top: 75px;
    margin-left: 240px;
    font-family: 'Oswald', sans-serif;
    background: none;
    color: #333;
    border-style: groove;
}

#section {
    margin-left: 17rem;
    padding-top: 20px;
}



#prevSearch {
    margin-top: 4rem;
    margin-left: 15rem;
    text-decoration: underline;
}

.history {
    justify-content: center;
}