body {
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    background: rgb(240 248 255);
    margin-left: 0;
}

header {
    margin-left: 7rem;
}

section {
    margin-left: 7rem;
}

input {
    font-family: 'Oswald', sans-serif;
}
